In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("biodiversity_dataset.csv")
df.head()

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,...,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue
0,2598658370,c6b86c40-ff71-4e5e-902c-111f400d0d56,https://indiabiodiversity.org/observation/show...,Animalia,Arthropoda,Insecta,Lepidoptera,Lycaenidae,Spalgis,Spalgis epius,...,Aravind Madhyastha;Chief RedEarth;Rohit George,NaN,CC_BY_4_0,NaN,Chief RedEarth,NaN,NaN,2024-02-21T21:37:34.155Z,StillImage,IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
1,4167812306,c6b86c40-ff71-4e5e-902c-111f400d0d56,https://indiabiodiversity.org/observation/show...,Animalia,Arthropoda,Insecta,Diptera,Tipulidae,NaN,NaN,...,Abhijith APC;Thomas Vattakaven,NaN,CC_BY_4_0,NaN,Abhijith APC,NaN,NaN,2024-02-21T21:37:34.145Z,StillImage,IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
2,2598661993,c6b86c40-ff71-4e5e-902c-111f400d0d56,https://indiabiodiversity.org/observation/show...,Plantae,Tracheophyta,Magnoliopsida,Myrtales,Onagraceae,Ludwigia,Ludwigia perennis,...,"St. Aloysius H S S, Edathua",NaN,CC_BY_4_0,NaN,"St. Aloysius H S S, Edathua",NaN,NaN,2024-02-21T21:37:34.152Z,StillImage,IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
3,2598664449,c6b86c40-ff71-4e5e-902c-111f400d0d56,https://indiabiodiversity.org/observation/show...,Animalia,Chordata,Amphibia,Anura,Microhylidae,Uperodon,Uperodon triangularis,...,Harikrishnan S.,NaN,CC_BY_4_0,NaN,Aravind Madhyastha,NaN,NaN,2024-02-21T21:37:34.145Z,StillImage,IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
4,2598666502,c6b86c40-ff71-4e5e-902c-111f400d0d56,https://indiabiodiversity.org/observation/show...,Animalia,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Danaus,Danaus chrysippus,...,Amber Habib;Aravind Madhyastha;Rohit George;Vi...,NaN,CC_BY_4_0,NaN,Amber Habib,NaN,NaN,2024-02-21T21:37:34.342Z,StillImage,IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...

In [3]:
df = df.drop(['datasetKey','infraspecificEpithet'],axis=1)
print(df.head())

       gbifID                                       occurrenceID   kingdom  \
0  2598658370  https://indiabiodiversity.org/observation/show...  Animalia
1  4167812306  https://indiabiodiversity.org/observation/show...  Animalia
2  2598661993  https://indiabiodiversity.org/observation/show...   Plantae
3  2598664449  https://indiabiodiversity.org/observation/show...  Animalia
4  2598666502  https://indiabiodiversity.org/observation/show...  Animalia

         phylum          class        order        family     genus  \
0    Arthropoda        Insecta  Lepidoptera    Lycaenidae   Spalgis
1    Arthropoda        Insecta      Diptera     Tipulidae       NaN
2  Tracheophyta  Magnoliopsida     Myrtales    Onagraceae  Ludwigia
3      Chordata       Amphibia        Anura  Microhylidae  Uperodon
4    Arthropoda        Insecta  Lepidoptera   Nymphalidae    Danaus

                 species taxonRank  ...  \
0          Spalgis epius   SPECIES  ...
1                    NaN    FAMILY  ...
2      Ludwigia perennis   SPECIES  ...
3  Uperodon triangularis   SPECIES  ...
4      Danaus chrysippus   SPECIES  ...

                                        identifiedBy dateIdentified  \
0     Aravind Madhyastha;Chief RedEarth;Rohit George            NaN
1                     Abhijith APC;Thomas Vattakaven            NaN
2                        St. Aloysius H S S, Edathua            NaN
3                                    Harikrishnan S.            NaN
4  Amber Habib;Aravind Madhyastha;Rohit George;Vi...            NaN

     license rightsHolder                   recordedBy  typeStatus  \
0  CC_BY_4_0          NaN               Chief RedEarth         NaN
1  CC_BY_4_0          NaN                 Abhijith APC         NaN
2  CC_BY_4_0          NaN  St. Aloysius H S S, Edathua         NaN
3  CC_BY_4_0          NaN           Aravind Madhyastha         NaN
4  CC_BY_4_0          NaN                  Amber Habib         NaN

  establishmentMeans           lastInterpreted   mediaType  \
0                NaN  2024-02-21T21:37:34.155Z  StillImage
1                NaN  2024-02-21T21:37:34.145Z  StillImage
2                NaN  2024-02-21T21:37:34.152Z  StillImage
3                NaN  2024-02-21T21:37:34.145Z  StillImage
4                NaN  2024-02-21T21:37:34.342Z  StillImage

                                               issue
0  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
1  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
2  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
3  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
4  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...

[5 rows x 48 columns]

In [4]:
df = df.drop([' gbifID','occurrenceID'],axis=1)
print(df.head())

    kingdom        phylum          class        order        family     genus  \
0  Animalia    Arthropoda        Insecta  Lepidoptera    Lycaenidae   Spalgis
1  Animalia    Arthropoda        Insecta      Diptera     Tipulidae       NaN
2   Plantae  Tracheophyta  Magnoliopsida     Myrtales    Onagraceae  Ludwigia
3  Animalia      Chordata       Amphibia        Anura  Microhylidae  Uperodon
4  Animalia    Arthropoda        Insecta  Lepidoptera   Nymphalidae    Danaus

                 species taxonRank                         scientificName  \
0          Spalgis epius   SPECIES                          Spalgis epius
1                    NaN    FAMILY                              Tipulidae
2      Ludwigia perennis   SPECIES                   Ludwigia perennis L.
3  Uperodon triangularis   SPECIES  Uperodon triangularis (GÃ¼nther, 1876)
4      Danaus chrysippus   SPECIES     Danaus chrysippus (Linnaeus, 1758)

                  verbatimScientificName  ...  \
0                          Spalgis epius  ...
1                              Tipulidae  ...
2                   Ludwigia perennis L.  ...
3  Uperodon triangularis (GÃ¼nther, 1876)  ...
4       Danaus chrysippus Linnaeus, 1758  ...

                                        identifiedBy dateIdentified  \
0     Aravind Madhyastha;Chief RedEarth;Rohit George            NaN
1                     Abhijith APC;Thomas Vattakaven            NaN
2                        St. Aloysius H S S, Edathua            NaN
3                                    Harikrishnan S.            NaN
4  Amber Habib;Aravind Madhyastha;Rohit George;Vi...            NaN

     license  rightsHolder                   recordedBy  typeStatus  \
0  CC_BY_4_0           NaN               Chief RedEarth         NaN
1  CC_BY_4_0           NaN                 Abhijith APC         NaN
2  CC_BY_4_0           NaN  St. Aloysius H S S, Edathua         NaN
3  CC_BY_4_0           NaN           Aravind Madhyastha         NaN
4  CC_BY_4_0           NaN                  Amber Habib         NaN

  establishmentMeans           lastInterpreted   mediaType  \
0                NaN  2024-02-21T21:37:34.155Z  StillImage
1                NaN  2024-02-21T21:37:34.145Z  StillImage
2                NaN  2024-02-21T21:37:34.152Z  StillImage
3                NaN  2024-02-21T21:37:34.145Z  StillImage
4                NaN  2024-02-21T21:37:34.342Z  StillImage

                                               issue
0  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
1  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
2  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
3  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
4  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...

[5 rows x 46 columns]

In [5]:
df = df.drop(['identifiedBy','dateIdentified'],axis=1)
print(df.head())

    kingdom        phylum          class        order        family     genus  \
0  Animalia    Arthropoda        Insecta  Lepidoptera    Lycaenidae   Spalgis
1  Animalia    Arthropoda        Insecta      Diptera     Tipulidae       NaN
2   Plantae  Tracheophyta  Magnoliopsida     Myrtales    Onagraceae  Ludwigia
3  Animalia      Chordata       Amphibia        Anura  Microhylidae  Uperodon
4  Animalia    Arthropoda        Insecta  Lepidoptera   Nymphalidae    Danaus

                 species taxonRank                         scientificName  \
0          Spalgis epius   SPECIES                          Spalgis epius
1                    NaN    FAMILY                              Tipulidae
2      Ludwigia perennis   SPECIES                   Ludwigia perennis L.
3  Uperodon triangularis   SPECIES  Uperodon triangularis (GÃ¼nther, 1876)
4      Danaus chrysippus   SPECIES     Danaus chrysippus (Linnaeus, 1758)

                  verbatimScientificName  ...  catalogNumber recordNumber  \
0                          Spalgis epius  ...         353197          NaN
1                              Tipulidae  ...       17969428          NaN
2                   Ludwigia perennis L.  ...         353190          NaN
3  Uperodon triangularis (GÃ¼nther, 1876)  ...         353199          NaN
4       Danaus chrysippus Linnaeus, 1758  ...         353194          NaN

     license  rightsHolder                   recordedBy  typeStatus  \
0  CC_BY_4_0           NaN               Chief RedEarth         NaN
1  CC_BY_4_0           NaN                 Abhijith APC         NaN
2  CC_BY_4_0           NaN  St. Aloysius H S S, Edathua         NaN
3  CC_BY_4_0           NaN           Aravind Madhyastha         NaN
4  CC_BY_4_0           NaN                  Amber Habib         NaN

  establishmentMeans           lastInterpreted   mediaType  \
0                NaN  2024-02-21T21:37:34.155Z  StillImage
1                NaN  2024-02-21T21:37:34.145Z  StillImage
2                NaN  2024-02-21T21:37:34.152Z  StillImage
3                NaN  2024-02-21T21:37:34.145Z  StillImage
4                NaN  2024-02-21T21:37:34.342Z  StillImage

                                               issue
0  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
1  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
2  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
3  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
4  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...

[5 rows x 44 columns]

In [6]:
df = df.drop(['catalogNumber','recordNumber','license','rightsHolder'],axis=1)
print(df.head())

    kingdom        phylum          class        order        family     genus  \
0  Animalia    Arthropoda        Insecta  Lepidoptera    Lycaenidae   Spalgis
1  Animalia    Arthropoda        Insecta      Diptera     Tipulidae       NaN
2   Plantae  Tracheophyta  Magnoliopsida     Myrtales    Onagraceae  Ludwigia
3  Animalia      Chordata       Amphibia        Anura  Microhylidae  Uperodon
4  Animalia    Arthropoda        Insecta  Lepidoptera   Nymphalidae    Danaus

                 species taxonRank                         scientificName  \
0          Spalgis epius   SPECIES                          Spalgis epius
1                    NaN    FAMILY                              Tipulidae
2      Ludwigia perennis   SPECIES                   Ludwigia perennis L.
3  Uperodon triangularis   SPECIES  Uperodon triangularis (GÃ¼nther, 1876)
4      Danaus chrysippus   SPECIES     Danaus chrysippus (Linnaeus, 1758)

                  verbatimScientificName  ...  speciesKey      basisOfRecord  \
0                          Spalgis epius  ...   7346430.0  HUMAN_OBSERVATION
1                              Tipulidae  ...         NaN  HUMAN_OBSERVATION
2                   Ludwigia perennis L.  ...   8129014.0  HUMAN_OBSERVATION
3  Uperodon triangularis (GÃ¼nther, 1876)  ...   9668627.0  HUMAN_OBSERVATION
4       Danaus chrysippus Linnaeus, 1758  ...   7642610.0  HUMAN_OBSERVATION

   institutionCode  collectionCode                   recordedBy  typeStatus  \
0              NaN             NaN               Chief RedEarth         NaN
1              NaN             NaN                 Abhijith APC         NaN
2              NaN             NaN  St. Aloysius H S S, Edathua         NaN
3              NaN             NaN           Aravind Madhyastha         NaN
4              NaN             NaN                  Amber Habib         NaN

  establishmentMeans           lastInterpreted   mediaType  \
0                NaN  2024-02-21T21:37:34.155Z  StillImage
1                NaN  2024-02-21T21:37:34.145Z  StillImage
2                NaN  2024-02-21T21:37:34.152Z  StillImage
3                NaN  2024-02-21T21:37:34.145Z  StillImage
4                NaN  2024-02-21T21:37:34.342Z  StillImage

                                               issue
0  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
1  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
2  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
3  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
4  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...

[5 rows x 40 columns]

In [7]:
df = df.drop(['speciesKey','basisOfRecord','institutionCode','collectionCode','recordedBy','typeStatus'],axis=1)
print(df.head())

    kingdom        phylum          class        order        family     genus  \
0  Animalia    Arthropoda        Insecta  Lepidoptera    Lycaenidae   Spalgis
1  Animalia    Arthropoda        Insecta      Diptera     Tipulidae       NaN
2   Plantae  Tracheophyta  Magnoliopsida     Myrtales    Onagraceae  Ludwigia
3  Animalia      Chordata       Amphibia        Anura  Microhylidae  Uperodon
4  Animalia    Arthropoda        Insecta  Lepidoptera   Nymphalidae    Danaus

                 species taxonRank                         scientificName  \
0          Spalgis epius   SPECIES                          Spalgis epius
1                    NaN    FAMILY                              Tipulidae
2      Ludwigia perennis   SPECIES                   Ludwigia perennis L.
3  Uperodon triangularis   SPECIES  Uperodon triangularis (GÃ¼nther, 1876)
4      Danaus chrysippus   SPECIES     Danaus chrysippus (Linnaeus, 1758)

                  verbatimScientificName  ...  depthAccuracy   eventDate  day  \
0                          Spalgis epius  ...            NaN  2014-08-24   24
1                              Tipulidae  ...            NaN  2022-09-02    2
2                   Ludwigia perennis L.  ...            NaN  2014-07-25   25
3  Uperodon triangularis (GÃ¼nther, 1876)  ...            NaN  2014-08-22   22
4       Danaus chrysippus Linnaeus, 1758  ...            NaN  2014-08-19   19

   month  year  taxonKey establishmentMeans           lastInterpreted  \
0      8  2014   7346430                NaN  2024-02-21T21:37:34.155Z
1      9  2022      7634                NaN  2024-02-21T21:37:34.145Z
2      7  2014   8129014                NaN  2024-02-21T21:37:34.152Z
3      8  2014   9668627                NaN  2024-02-21T21:37:34.145Z
4      8  2014   7642610                NaN  2024-02-21T21:37:34.342Z

    mediaType                                              issue
0  StillImage  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
1  StillImage  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
2  StillImage  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
3  StillImage  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
4  StillImage  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...

[5 rows x 34 columns]

In [8]:
df = df.drop(['depthAccuracy','eventDate','day','month','year','taxonKey','establishmentMeans','lastInterpreted'],axis=1)
print(df.head())

    kingdom        phylum          class        order        family     genus  \
0  Animalia    Arthropoda        Insecta  Lepidoptera    Lycaenidae   Spalgis
1  Animalia    Arthropoda        Insecta      Diptera     Tipulidae       NaN
2   Plantae  Tracheophyta  Magnoliopsida     Myrtales    Onagraceae  Ludwigia
3  Animalia      Chordata       Amphibia        Anura  Microhylidae  Uperodon
4  Animalia    Arthropoda        Insecta  Lepidoptera   Nymphalidae    Danaus

                 species taxonRank                         scientificName  \
0          Spalgis epius   SPECIES                          Spalgis epius
1                    NaN    FAMILY                              Tipulidae
2      Ludwigia perennis   SPECIES                   Ludwigia perennis L.
3  Uperodon triangularis   SPECIES  Uperodon triangularis (GÃ¼nther, 1876)
4      Danaus chrysippus   SPECIES     Danaus chrysippus (Linnaeus, 1758)

                  verbatimScientificName  ...  \
0                          Spalgis epius  ...
1                              Tipulidae  ...
2                   Ludwigia perennis L.  ...
3  Uperodon triangularis (GÃ¼nther, 1876)  ...
4       Danaus chrysippus Linnaeus, 1758  ...

                       publishingOrgKey decimalLatitude  decimalLongitude  \
0  62431bdf-fa0c-452b-afce-be14884a47ff        8.487500         76.952499
1  62431bdf-fa0c-452b-afce-be14884a47ff       12.222723         76.627288
2  62431bdf-fa0c-452b-afce-be14884a47ff        9.369502         76.460342
3  62431bdf-fa0c-452b-afce-be14884a47ff       12.200000         75.800003
4  62431bdf-fa0c-452b-afce-be14884a47ff       28.525681         77.574203

   coordinateUncertaintyInMeters coordinatePrecision  elevation  \
0                            NaN                 NaN        NaN
1                            NaN                 NaN        NaN
2                            NaN                 NaN        NaN
3                            NaN                 NaN        NaN
4                            NaN                 NaN        NaN

  elevationAccuracy  depth   mediaType  \
0               NaN    NaN  StillImage
1               NaN    NaN  StillImage
2               NaN    NaN  StillImage
3               NaN    NaN  StillImage
4               NaN    NaN  StillImage

                                               issue
0  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
1  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
2  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
3  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
4  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...

[5 rows x 26 columns]

In [9]:
df = df.drop(['publishingOrgKey','decimalLatitude','decimalLongitude'],axis=1)
print(df.head())

    kingdom        phylum          class        order        family     genus  \
0  Animalia    Arthropoda        Insecta  Lepidoptera    Lycaenidae   Spalgis
1  Animalia    Arthropoda        Insecta      Diptera     Tipulidae       NaN
2   Plantae  Tracheophyta  Magnoliopsida     Myrtales    Onagraceae  Ludwigia
3  Animalia      Chordata       Amphibia        Anura  Microhylidae  Uperodon
4  Animalia    Arthropoda        Insecta  Lepidoptera   Nymphalidae    Danaus

                 species taxonRank                         scientificName  \
0          Spalgis epius   SPECIES                          Spalgis epius
1                    NaN    FAMILY                              Tipulidae
2      Ludwigia perennis   SPECIES                   Ludwigia perennis L.
3  Uperodon triangularis   SPECIES  Uperodon triangularis (GÃ¼nther, 1876)
4      Danaus chrysippus   SPECIES     Danaus chrysippus (Linnaeus, 1758)

                  verbatimScientificName  ...  stateProvince occurrenceStatus  \
0                          Spalgis epius  ...            NaN          PRESENT
1                              Tipulidae  ...            NaN          PRESENT
2                   Ludwigia perennis L.  ...            NaN          PRESENT
3  Uperodon triangularis (GÃ¼nther, 1876)  ...            NaN          PRESENT
4       Danaus chrysippus Linnaeus, 1758  ...            NaN          PRESENT

   individualCount  coordinateUncertaintyInMeters coordinatePrecision  \
0              NaN                            NaN                 NaN
1              NaN                            NaN                 NaN
2              NaN                            NaN                 NaN
3              NaN                            NaN                 NaN
4              NaN                            NaN                 NaN

   elevation  elevationAccuracy  depth   mediaType  \
0        NaN                NaN    NaN  StillImage
1        NaN                NaN    NaN  StillImage
2        NaN                NaN    NaN  StillImage
3        NaN                NaN    NaN  StillImage
4        NaN                NaN    NaN  StillImage

                                               issue
0  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
1  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
2  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
3  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...
4  IDENTIFIED_DATE_INVALID;COORDINATE_ROUNDED;COU...

[5 rows x 23 columns]

In [10]:
print(df.columns.values)

['kingdom' 'phylum' 'class' 'order' 'family' 'genus' 'species' 'taxonRank'
 'scientificName' 'verbatimScientificName'
 'verbatimScientificNameAuthorship' 'countryCode' 'locality'
 'stateProvince' 'occurrenceStatus' 'individualCount'
 'coordinateUncertaintyInMeters' 'coordinatePrecision' 'elevation'
 'elevationAccuracy' 'depth' 'mediaType' 'issue']

In [11]:
df = df.drop(['coordinateUncertaintyInMeters','coordinatePrecision','elevation','elevationAccuracy','depth','mediaType','issue'],axis=1)
print(df.head())

    kingdom        phylum          class        order        family     genus  \
0  Animalia    Arthropoda        Insecta  Lepidoptera    Lycaenidae   Spalgis
1  Animalia    Arthropoda        Insecta      Diptera     Tipulidae       NaN
2   Plantae  Tracheophyta  Magnoliopsida     Myrtales    Onagraceae  Ludwigia
3  Animalia      Chordata       Amphibia        Anura  Microhylidae  Uperodon
4  Animalia    Arthropoda        Insecta  Lepidoptera   Nymphalidae    Danaus

                 species taxonRank                         scientificName  \
0          Spalgis epius   SPECIES                          Spalgis epius
1                    NaN    FAMILY                              Tipulidae
2      Ludwigia perennis   SPECIES                   Ludwigia perennis L.
3  Uperodon triangularis   SPECIES  Uperodon triangularis (GÃ¼nther, 1876)
4      Danaus chrysippus   SPECIES     Danaus chrysippus (Linnaeus, 1758)

                  verbatimScientificName  verbatimScientificNameAuthorship  \
0                          Spalgis epius                               NaN
1                              Tipulidae                               NaN
2                   Ludwigia perennis L.                               NaN
3  Uperodon triangularis (GÃ¼nther, 1876)                               NaN
4       Danaus chrysippus Linnaeus, 1758                               NaN

  countryCode  locality  stateProvince occurrenceStatus  individualCount
0          IN       NaN            NaN          PRESENT              NaN
1          IN       NaN            NaN          PRESENT              NaN
2          IN       NaN            NaN          PRESENT              NaN
3          IN       NaN            NaN          PRESENT              NaN
4          IN       NaN            NaN          PRESENT              NaN

In [12]:
df = df.drop(['countryCode','locality','stateProvince','occurrenceStatus','individualCount'],axis=1)
print(df.head())

    kingdom        phylum          class        order        family     genus  \
0  Animalia    Arthropoda        Insecta  Lepidoptera    Lycaenidae   Spalgis
1  Animalia    Arthropoda        Insecta      Diptera     Tipulidae       NaN
2   Plantae  Tracheophyta  Magnoliopsida     Myrtales    Onagraceae  Ludwigia
3  Animalia      Chordata       Amphibia        Anura  Microhylidae  Uperodon
4  Animalia    Arthropoda        Insecta  Lepidoptera   Nymphalidae    Danaus

                 species taxonRank                         scientificName  \
0          Spalgis epius   SPECIES                          Spalgis epius
1                    NaN    FAMILY                              Tipulidae
2      Ludwigia perennis   SPECIES                   Ludwigia perennis L.
3  Uperodon triangularis   SPECIES  Uperodon triangularis (GÃ¼nther, 1876)
4      Danaus chrysippus   SPECIES     Danaus chrysippus (Linnaeus, 1758)

                  verbatimScientificName  verbatimScientificNameAuthorship
0                          Spalgis epius                               NaN
1                              Tipulidae                               NaN
2                   Ludwigia perennis L.                               NaN
3  Uperodon triangularis (GÃ¼nther, 1876)                               NaN
4       Danaus chrysippus Linnaeus, 1758                               NaN

In [13]:
df = df.drop(['verbatimScientificNameAuthorship'],axis=1)
print(df.head())

    kingdom        phylum          class        order        family     genus  \
0  Animalia    Arthropoda        Insecta  Lepidoptera    Lycaenidae   Spalgis
1  Animalia    Arthropoda        Insecta      Diptera     Tipulidae       NaN
2   Plantae  Tracheophyta  Magnoliopsida     Myrtales    Onagraceae  Ludwigia
3  Animalia      Chordata       Amphibia        Anura  Microhylidae  Uperodon
4  Animalia    Arthropoda        Insecta  Lepidoptera   Nymphalidae    Danaus

                 species taxonRank                         scientificName  \
0          Spalgis epius   SPECIES                          Spalgis epius
1                    NaN    FAMILY                              Tipulidae
2      Ludwigia perennis   SPECIES                   Ludwigia perennis L.
3  Uperodon triangularis   SPECIES  Uperodon triangularis (GÃ¼nther, 1876)
4      Danaus chrysippus   SPECIES     Danaus chrysippus (Linnaeus, 1758)

                  verbatimScientificName
0                          Spalgis epius
1                              Tipulidae
2                   Ludwigia perennis L.
3  Uperodon triangularis (GÃ¼nther, 1876)
4       Danaus chrysippus Linnaeus, 1758

In [14]:
df.to_csv("modified_biodiversity_dataset.csv")

In [15]:
df.kingdom.unique()

array(['Animalia', 'Plantae', 'incertae sedis', 'Fungi', 'Bacteria'],
      dtype=object)

In [18]:
df.phylum.unique()

array(['Arthropoda', 'Tracheophyta', 'Chordata', nan, 'Mollusca',
       'Basidiomycota', 'Platyhelminthes', 'Chlorophyta', 'Ascomycota',
       'Cyanobacteria', 'Cnidaria', 'Bryophyta', 'Echinodermata',
       'Anthocerotophyta'], dtype=object)

In [16]:
l1 = list(df.scientificName.unique())

In [17]:
print("Ursus maritimus" in l1)

False